.btn {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.1rem 3rem;
  color: var(--color-black);
  background-color: var(--color-strong-yellow);
  border: none;
  border-radius: var(--border-radius-1);
  transition: all 0.2s;
  cursor: pointer;

  :hover {
    background-color: var(--color-light-yellow);
  }
}

.btn:hover {
  background-color: var(--color-light-yellow);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-light-yellow);
}
